<!DOCTYPE html>

<html>

<head>


</head>
<title>Help</title>
<link rel="icon" href="/img/pic2.png">
<link rel="stylesheet" href="/css/styles.css ">

<body>
    <div class='main-content'>

        {{>header}}
        <h1>Help abut {{title}}</h1>
        <p>Nisem {{name}}</p>
    </div>



    {{>footer}}
</body>

</html>